<div *ngIf="!customerUsers"><h1 style="text-align: center;">This Customer has no User</h1></div>
    <div *ngIf="customerUsers">
        <h1>Users Table</h1>
        <table>
           <thead>
              <tr>
               <th>ID</th>
               <th>FirstName</th>
               <th>MiddleName</th>
               <th>LastName</th>
               <th>Email</th>
               <th>PhoneNumber</th> 
               <th>Role</th> 
               <th>Address</th> 
               <th>DateTime</th>
               <th>CustomerId</th>
              </tr>
           </thead>
           <tbody>
              
               
               <tr *ngFor="let item of customerUsers">
                  <td>{{ item.id }}</td>
                  <td>{{ item.firstName }}</td>
                  <td>{{ item.middleName }}</td>
                  <td>{{ item.lastName }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.phoneNumber }}</td>
                  <td>{{ item.role }}</td>
                  <td>{{ item. address}}</td>
                  <td>{{ item.datetime }}</td>
                   <td >{{ item.customersId }}</td> 
                 
                  
                 <td>
                  <button type="button" (click)='toUsersDetail(item.id)' class="nav-link">Edit</button>
                    <!-- <button type="button" ><a routerLink="{{item.id}}" class="nav-link">Edit</a></button> -->
                    <div class="container mt-3">
                        <router-outlet></router-outlet>
                      </div>
                 </td>
              </tr>
           </tbody>
        </table>
     </div>